* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.header,
.footer {
  background-color: #ccc;
  padding: 25px;
  text-align: center;
  height: 5%;
}
.container {
  overflow: hidden;
  height: 80%;
}
.sidebar {
  float: left;
  width: 25%;
  background-color: #eee;
  padding: 20px;
  height: 80%;
}

.main {
  float: right;
  width: 75%;
  background-color: #ddd;
  padding: 20px;
  height: 80%;
}
