.grid-container {
  display: grid;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  grid-template-columns: 25% 75%;
}

.header {
  grid-area: header;
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}
.sidebar {
  grid-area: sidebar;
  background-color: #ddd;
  padding: 20px;
}
.main {
  grid-area: main;
  background-color: #eee;
  padding: 20px;
}
.footer {
  grid-area: footer;
  background-color: #ccc;
  padding: 20px;
  text-align: center;
}
