* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-dark-color: #10121a;
  --background-dark-grey: #191d2b;
  --border-color: #2e344e;
  --background-light-color: #f1f1f1;
  --background-light-color-2: rgba(3, 127, 255, 0.3);
  --white-color: #fff;
  --font-light-color: #a4acc4;
  --font-dark-color: #313131;
  --font-dark-color-2: #151515;
  --sidebar-dark-color: #191d2b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-light-color);
  color: var(--font-dark-color);
  height: 100vh;
}

/* Navigation */
h1 {
  font-style: italic;
  font-size: 2rem;
  display: inline;
}

header {
  /* display: flex; */
  justify-content: space-between;
  padding: 1rem 2.5rem;
  background-color: #a4acc4;
  border-bottom: #007bff 2px solid;
  width: 100%;
}

header a {
  color: #ccc;
  font-weight: bold;
  letter-spacing: 3px;
}

header a:hover {
  color: #000;
}

.navbar {
  display: inline;
  padding: 0.5rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-right: 1rem;
}

main {
  height: 100%;
}
#home {
  background-color: whitesmoke;
  height: 100%;
  padding-left: 3rem;
}

#home h2 {
  font-size: 2rem;
  text-align: left;
  margin-top: 2rem;
  letter-spacing: 2px;
  background-color: purple;
  /* padding-top: 5rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem; */
  /* padding: 5rem; */
  /* padding: 2rem, 5rem // vertical, horizontal */
  /* padding: 2rem 5rem 3rem; // top, horizontal, bottom */
  /* padding: 2rem 5rem 3rem 1rem; top, right, bottom, left */
}

#home p::first-letter {
  font-size: 2rem;
  color: var(--primary-color);
}

h1,
h2,
h3 {
  color: var(--primary-color);
}

.button:hover {
  background-color: var(--primary-color);
}
